* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: darkgray;
}

.main-content {
  margin: 1em auto;
  padding: 1em;
  box-shadow: 2px 2px 5px $darkblue;
  color: $darkestblue;
  background-color: $darkblue;
  background: url('../img/tapestry_pattern.png') $gray;
}

.main-content-header {
  text-align: center;
  padding: 1em;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
  line-height: 1.2em;
  font-family: 'Roboto Slab', serif;
  color: tomato;
  padding: 1em;
  border: 5px solid tomato;
  display: inline-block;
  background-color: tint($gray, 60%);
}

.item-listing {
  padding: 1em;
  display: block;
  @include outer-container;
  text-align: center;
  background-color: tint($gray, 60%);
  margin-bottom: 1em;

}

.item-desc {
  text-align: left;
  color: $darkestblue;
  vertical-align: top;
  display: inline-block;
  word-break: break-word;
  padding: 1em;
  @include span-columns(12);
  @media only screen and (min-width: 768px) {
    @include span-columns(6);
  }
  @media only screen and (min-width: 1024px) {
    @include span-columns(8);
  }
}

.item-price {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.2em;
}

.item-image {
  display: inline-block;
  height: auto;
  @include span-columns(12);
  @media only screen and (min-width: 768px) {
    @include span-columns(6);
  }
  @media only screen and (min-width: 1024px) {
    @include span-columns(4);
  }
}

a {
  color: $blue;
}

button {
  padding: 1em;
  color: #fff;
  background-color: $aqua;
  border: none;
  font-weight: bold;
  font-size: .75em;
  display: block;
  line-height: 1em;
}
